<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257698853188-2gso0ra49a02tiaavm1n8r41l4oebcjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257698853188-2gso0ra49a02tiaavm1n8r41l4oebcjp</string>
	<key>API_KEY</key>
	<string>AIzaSyCkoIyneqMmzUWi6cU9HcVCi6QdJM1y7S8</string>
	<key>GCM_SENDER_ID</key>
	<string>257698853188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripventure</string>
	<key>PROJECT_ID</key>
	<string>tripventure-d9717</string>
	<key>STORAGE_BUCKET</key>
	<string>tripventure-d9717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257698853188:ios:de16061e43e22d9a46a711</string>
</dict>
</plist>